@model OrganizerIndexViewModel

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Organizer</h4>
                <p class="card-description">
                    <a href="/cms/organizer/create" class="btn btn-rounded btn-primary btn-sm"><i class="mdi mdi-plus-circle mdi-18px"></i>Add New Organizer</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Organizer Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.organizerDetails)
                                {


                                    <tr>
                                        <td>@item.orgname</td>
                                        <td>@item.orgaddress</td>
                                        <td>@item.orgemail</td>
                                        <td>@item.org_phone_no</td>
                                        @{
                                            string badgeType = "badge-success";
                                            string status = "Active";
                                            if (!item.is_active)
                                            {
                                                badgeType = "badge-danger";
                                                status = "Inactive";
                                            }

                                        }
                                        <td><label class="badge @badgeType">@status</label></td>

                                        <td>
                                            <div>
                                                <button class="btn btn-primary" type="button" id="dropdownMenuIconButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="mdi mdi-security"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton6" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                    <a class="dropdown-item" href="/cms/organizer/update/@item.Id"><i class="mdi mdi-account-edit"></i> Edit</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item delete" href="/cms/organizer/delete/@item.Id"><i class="mdi mdi-delete"></i> Delete</a>
                                                    <div class="dropdown-divider"></div>
                                                    @{
                                                        if (item.is_active)
                                                        {
                                                            <a class="dropdown-item " href="/cms/organizer/disable/@item.Id"><i class="mdi mdi-thumb-down"></i> Disable</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="dropdown-item " href="/cms/organizer/enable/@item.Id"><i class="mdi mdi-thumb-up"></i> Enable</a>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <Pager info="ViewBag.pagerInfo"></Pager>
            </div>
        </div>
    </div>
</div>

