@model ChangePasswordDto
@{

}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change Password Form   <a href="/UserManagement/User" class="badge badge-primary float-right"><i class="mdi mdi-arrow-left"></i> Back</a></h4>
                <form method="post" action="/UserManagement/User/change-password">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(a => a.user_id)
                    @Html.ValidationSummary(true)
                    <div class=" row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(a => a.old_password)
                                @Html.TextBoxFor(a => a.old_password, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(a => a.old_password)</p>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(a => a.new_password)
                                @Html.TextBoxFor(a => a.new_password, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(a => a.new_password)</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.confirm_password)
                                @Html.TextBoxFor(a => a.confirm_password, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(a => a.confirm_password)</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="/UserManagement/User" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>