@model UserIndexViewModel
@{

}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <p class="card-description">
                    <a href="/UserManagement/User/Create" class="btn btn-rounded btn-primary btn-sm"><i class="mdi mdi-plus-circle mdi-18px"></i> New User</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Email</th>
                                <th>Full Name</th>
                                <th>User Name</th>
                                <th>Temporary Address</th>
                                <th>Primary Contact</th>
                                <th>Created Date</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.userDataDetails)
                                {
                                    string imgSrc = "/Images/Default/default.png";
                                    if (item.userDetails.image != null)
                                    {
                                        imgSrc = "/Images/Custom/" + item.userDetails.image;
                                    }

                                                        <tr>
                                                            <td class="py-1">
                                                                <img src="@imgSrc" alt="@item.userDetails.getUserFullName()">
                                                            </td>
                                                            <td>@item.email</td>
                                                            <td>@item.userDetails.getUserFullName()</td>
                                                            <td>@item.username</td>
                                                            <td>@item.userDetails.temporary_address</td>
                                                            <td>@item.userDetails.primary_contact</td>
                                                            <td>@item.created_date.ToString()</td>
                                                            <td><label class="badge badge-dark">@item.UserRoleMap.Role.name</label></td>
                                                            @{
                                                                string badgeType = "badge-success";
                                                                string status = "Active";
                                                                if (!item.is_active)
                                                                {
                                                                    badgeType = "badge-danger";
                                                                    status = "Inactive";
                                                                }

                                                            }
                                                            <td><label class="badge @badgeType">@status</label></td>
                                                            <td>
                                                                <div>
                                                                    <button class="btn btn-primary" type="button" id="dropdownMenuIconButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="mdi mdi-security"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton6" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                        <a class="dropdown-item" href="/UserManagement/User/Update/@item.Id"><i class="mdi mdi-account-edit"></i> Edit</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item delete" href="/UserManagement/User/Delete/@item.Id"><i class="mdi mdi-delete"></i> Delete</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item " href="/UserManagement/User/change-password/@item.Id"><i class="mdi mdi-cog"></i> Change Password</a>

                                                                        <div class="dropdown-divider"></div>

                                                                        @{
                                                                            if (item.is_active)
                                                                            {
                                                                                <a class="dropdown-item " href="/UserManagement/User/Disable/@item.Id"><i class="mdi mdi-thumb-down"></i> Disable</a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a class="dropdown-item " href="/UserManagement/User/Enable/@item.Id"><i class="mdi mdi-thumb-up"></i> Enable</a>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <Pagination info="@ViewBag.pagerInfo"></Pagination>
            </div>
        </div>
    </div>
</div>
